li:hover {
  background-color: beige;
}
.active,
li:hover.active {
  background-color: #e9e9e9;
}

ul {
  margin-top: 40px;
}
li {
  align-items: center;
  list-style: none;
  padding-left: 0;
}
body {
  min-width: 100px;
}
.parent {
  color: lightcoral;
  font-size: smaller;
}
.url {
  color: gray;
  font-size: smaller;
}
input {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
}
