li:hover {
  background-color: beige;
}
.active,
li:hover.active {
  background-color: #e9e9e9;
}

ul {
  margin-top: 40px;
}
.url {
  color: gray;
  font-size: small;
}
input {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
}
